
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("HighLihtList")
@await Component.InvokeAsync("AboutList")
@await Component.InvokeAsync("JobList")


<div class="contact-us section" id="contact">
    <div class="container">
        <div class="row">
        @await Component.InvokeAsync("ContactList")
        @await Html.PartialAsync("SendMessage")
           
        </div>
        </div>
    </div>

