
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@await Component.InvokeAsync("HighLihtList")

<div class="services section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="~/templatemo_586_scholar/assets/images/service-01.png" alt="online degrees">
                    </div>
                    <div class="main-content">
                        <h4>Online Degrees</h4>
                        <p>Whenever you need free templates in HTML CSS, you just remember TemplateMo website.</p>
                        <div class="main-button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="~/templatemo_586_scholar/assets/images/service-02.png" alt="short courses">
                    </div>
                    <div class="main-content">
                        <h4>Short Courses</h4>
                        <p>You can browse free templates based on different tags such as digital marketing, etc.</p>
                        <div class="main-button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="~/templatemo_586_scholar/assets/images/service-03.png" alt="web experts">
                    </div>
                    <div class="main-content">
                        <h4>Web Experts</h4>
                        <p>You can start learning HTML CSS by modifying free templates from our website too.</p>
                        <div class="main-button">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section about-us">
    <div class="container">
        <div class="row">

            <div class="accordion" id="accordionExample">

                <div class="col-lg-12 align-self-center">
                    <div class="section-heading">
                        <h6>About Us</h6>
                        <h2>What make us the best academy online?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravid risus commodo.</p>
                        <div class="main-button">
                            <a href="#">Discover More</a>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

<section class="section courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h6>Latest Courses</h6>
                    <h2>Latest Courses</h2>
                </div>
            </div>
        </div>
        <ul class="event_filter">
            <li>
                <a class="is_active" href="#!" data-filter="*">Show All</a>
            </li>
            <li>
                <a href="#!" data-filter=".design">Webdesign</a>
            </li>
            <li>
                <a href="#!" data-filter=".development">Development</a>
            </li>
            <li>
                <a href="#!" data-filter=".wordpress">Wordpress</a>
            </li>
        </ul>
        <div class="row event_box">
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-01.jpg" alt=""></a>
                        <span class="category">Webdesign</span>
                        <span class="price"><h6><em>$</em>160</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Stella Blair</span>
                        <h4>Learn Web Design</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6  development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-02.jpg" alt=""></a>
                        <span class="category">Development</span>
                        <span class="price"><h6><em>$</em>340</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Cindy Walker</span>
                        <h4>Web Development Tips</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 design wordpress">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-03.jpg" alt=""></a>
                        <span class="category">Wordpress</span>
                        <span class="price"><h6><em>$</em>640</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">David Hutson</span>
                        <h4>Latest Web Trends</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-04.jpg" alt=""></a>
                        <span class="category">Development</span>
                        <span class="price"><h6><em>$</em>450</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Stella Blair</span>
                        <h4>Online Learning Steps</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress development">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-05.jpg" alt=""></a>
                        <span class="category">Wordpress</span>
                        <span class="price"><h6><em>$</em>320</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">Sophia Rose</span>
                        <h4>Be a WordPress Master</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 align-self-center mb-30 event_outer col-md-6 wordpress design">
                <div class="events_item">
                    <div class="thumb">
                        <a href="#"><img src="~/templatemo_586_scholar/assets/images/course-06.jpg" alt=""></a>
                        <span class="category">Webdesign</span>
                        <span class="price"><h6><em>$</em>240</h6></span>
                    </div>
                    <div class="down-content">
                        <span class="author">David Hutson</span>
                        <h4>Full Stack Developer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>

<div class="contact-us section" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6  align-self-center">
                <div class="section-heading">
                    <h6>Contact Us</h6>
                    <h2>Feel free to contact us anytime</h2>
                    <p>Thank you for choosing our templates. We provide you best CSS templates at absolutely 100% free of charge. You may support us by sharing our website to your friends.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-us-content">
                    <form id="contact-form" action="" method="post">
                        <div class="row">
                            <div class="col-lg-12">
                                <fieldset>
                                    <input type="name" name="name" id="name" placeholder="Your Name..." autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <input type="text" name="email" id="email" placeholder="Your E-mail..." required="">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="col-lg-12">
            <p>Copyright © 2036 Scholar Organization. All rights reserved. &nbsp;&nbsp;&nbsp; Design: <a href="https://templatemo.com" rel="nofollow" target="_blank">TemplateMo</a></p>
        </div>
    </div>
</footer>
